{{page-title "SelectCharacter"}}

<LinkTo @route='index.welcome' @query={{hash character='jack' step=1}}>
    Jack
</LinkTo>

<LinkTo @route='index.welcome' @query={{hash character='queen' step=1}}>
    Queen
</LinkTo>

<LinkTo @route='index.welcome' @query={{hash character='alisa' step=1}}>
    Alisa
</LinkTo>

<LinkTo @route='index.welcome' @query={{hash character='chip' step=1}}>
    Chip
</LinkTo>


{{outlet}}