{{page-title "Welcome"}}

    <img src={{concat '/images/welcome/' this.character '/frame_0000' this.step '.png'}}>

    {{t (concat 'welcome.speech-' this.step)}}

    <LinkTo @route='index.welcome' @query={{hash step=this.nextStep}}>
        {{t 'global.next'}}
    </LinkTo>

{{outlet}}