{{page-title "Index"}}


<ul class="main-menu">
    <li>
        <LinkTo @route='index.select-character'>
            {{t 'main-menu.start-new-game'}}
        </LinkTo>
    </li>

    <li>
        {{t 'main-menu.continue'}}
    </li>

    <li>
        {{t 'main-menu.select-episode'}}
    </li>


    <li>
        {{t 'main-menu.settings'}}
    </li>
</ul>


{{outlet}}